

table.form-table
{
    width: 500px;
}

table.form-table tr
{
    height: 40px;
}

table.form-table tr td:first-child
{
    text-align: center;
    background-color: #eeeeee;
}

table.form-table td
{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}